.navbar {
  background-color: #34456a;
}

.scrolling-navbar {
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

footer.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #34456a;
}

body {
  padding-top: 5rem;
}

.hidden{
  display: none;
}

.container{
  text-align: center;
}
#labelAzioni span {
  font-size: 50%;
  vertical-align:middle;
}
#labelTab span {
  font-size: 45%;
  vertical-align: top;
}

#dettagliClipPanel {
  border-radius:5px;
  text-align: left;
  margin-bottom: 75px;
  padding-top: 2%;
}

#dettagliClipPanel hr{
  background-color: white;
}

.labelDettagli{
  font-size: 1.2em;
}

.form-control{
  width: 75%;
}

.selectDettagli{
  width: auto;
}
#panelLingua{
  width: 75%;
}
