.navbar {
  background-color: #34456a;
  /*height: auto;*/
}

.navbar a{
    text-align: center;
}

.scrolling-navbar {
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .navbar a{
    text-align: left;
  }
}


footer.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #34456a;
}

body {
  padding-top: 5rem;
}

.hidden{
  display: none;
}

.container{
  text-align: center;
}
#labelAzioni span {
  font-size: 50%;
  vertical-align:middle;
}
#labelTab span {
  font-size: 45%;
  vertical-align: top;
}

#dettagliClipPanel {
  border-radius:5px;
  text-align: left;
  margin-bottom: 75px;
  padding-top: 2%;
}

#dettagliClipPanel hr{
  background-color: white;
}

.labelDettagli{
  font-size: 1.2em;
}

.form-control{
  width: 75%;
}

.selectDettagli{
  width: auto;
}
#panelLingua{
  width: 75%;
}

.bg-warning{
  opacity: 0.7;
  transform: scale(0.9);
}
.bg-danger .span{
  transition: 1s;
}

#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}

#google_translate_element2 {display:none!important;}
