#map { height: 80vh;}
/*.navbar-inverse{ padding-bottom: 0px;}*/
.row{ margin-top: -20px;margin-left:  15px;}
#controlPlay{
    padding-top: 10px;
    font-size:30px;

}
.btn-primary{ position: center; margin-left: 30px}
/*.container-fluid{padding: 10}
/*.pointer{
  position:absolute;
  top:86px;
  left:60px;
  z-index:99999;
}*/

/*body { margin:0; padding:0; }
//#mapid { position:absolute; top:0; bottom:0; width:100%; }
 */

/* stile per direction mappa */
.results {
    background-color: white;
    opacity: 0.8;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 320px;
    height: 480px;
    overflow-y: scroll;
}