.navbar {
    background-color: #34456a;
}

.navbar a{
    text-align: center;
}

.scrolling-navbar {
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

footer.page-footer {
    background-color: #34456a;
}

#map {
    margin: 80px 30px;
    height: 88vh;


}

@media only screen and (max-width: 768px) {
    .navbar a{
        text-align: left;
    }

    #map {
        margin: 70px 5px;
        height: 75vh;
    }
}


/*.navbar-inverse{ padding-bottom: 0px;}
.row{ margin-top: 70px;margin-left:  15px;}
#controlAndFilters{
    padding-top: 10px;
    font-size:30px;

}*/
/*.btn-primary{ position: center; margin-left: 30px}*/
/*.container-fluid{padding: 10}
/*.pointer{
  position:absolute;
  top:86px;
  left:60px;
  z-index:99999;
}*/

/*body { margin:0; padding:0; }
//#mapid { position:absolute; top:0; bottom:0; width:100%; }
 */

/* style for direction mapp */
.results {
    background-color: white;
    opacity: 0.8;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 320px;
    height: 480px;
    overflow-y: scroll;
}

/* style translate*/
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}


#description{
    max-height: 10em;
    overflow: auto;
}